@tailwind base;
@tailwind components;
@tailwind utilities;

.text-p-hero {
  font-size: 18px !important;
  font-family: Nunito Sans !important;
  font-weight: 400;
  word-wrap: break-word;
}

.bg-image {
  background-image: url("../../public/Images/bg_rectangle.png");
}

.bg-adminSection {
  background-image: url("../../public/Images/admin_bg.png");
}

.bg-button-adminSect {
  background-color: #fbbc05;
}

.footer-bg {
  background-color: #f6f9ff;
}

.faq-bg {
  background-color: #f8f9ff;
  border-radius: 10px;
}

.copyright-bg {
  background-color: #3450a2;
}

body {
  font-family: "Nunito", sans-serif;
}

.text-FaQ {
  font-size: 36px;
  font-weight: 800;
  word-wrap: break-word;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
